
        #tableSize /*стиль таблицы*/
        {
            margin: -180px 0 0 30px; /* отступы блока сверху справа снизу слева*/
            color:white; /*цвет текста*/
            border-style:double; /*стиль границы*/
            border-width:1px; /*ширина границы*/
            padding:3px; /*отступ текста*/

        }
        
        #image /*стиль картинки*/
        {
           float:right; /*выравнивание элемента справа*/
        }

        .navig { /*стиль ссылки*/
            text-align:center; /*выравнивание по центру*/
        }

        .ellips { /*фигура элипса*/
            width: 100px;/*ширина блока*/
            height: 100px;/*высота блока*/
            border: 4px solid white; /*толщина, стиль, цвет границ*/
            border-top-left-radius: 25px; /*скругление верхнего левого угла*/
            border-bottom-right-radius: 25px;/*скругление нижнего правого угла*/
            float: left; /*выравнивание по левому краю*/
            margin-right:10px; /*отступ справа*/
            margin-bottom:10px; /*отступ снизу*/
        }

        #header { /*стиль шапки сайта*/
            position: fixed; /*фиксирует шарку профиля при прокрутке*/
            left: 0; /*отступ слева*/
            top: 0;/* расстояние сверху */
            height: 30px; /*высота блочного элемента*/
            background-color: rgb(14, 129, 62); /*цвет фона*/
            color: white; /*цвет надписи*/
            width: 100%; /*ширина блока*/
            text-align: center; /*горизонтальное выравнивание текста по отношению к блоку*/
            z-index: 100; /*слой*/
            padding-top: 10px; /* отступ текста от верхней границы блока*/
        }

        #content {/*стиль блока контекта*/
            margin-left: 25%; /*отстпу блока слева*/
            margin-right: 25%; /*отступ блока справа*/
            height: 100%; /*высота блочного элемента*/
            padding-top: 5%; /* отступ текста от верхней границы блока*/
            padding-bottom: 5%;/*отступ текста от нижней границы блока*/
            padding-left: 10px;/*отступ текста от левой границы блока*/
            padding-right: 10px;/*отступ текста от правой границы блока*/
            background-color: rgb(70, 22, 201); /*цвет фона*/
            color: white; /*цвет текста*/
        }

        #footer {/*стиль подвала сайта*/
            position: fixed;/*фиксирует шарку профиля при прокрутке*/
            left: 0;/*отступ слева*/
            bottom: 0; /*отступ снизу*/
            height: 30px;/*высота блочного элемента*/
            background-color: rgb(14, 129, 62);/*цвет фона*/
            color: white;/*цвет текста*/
            width: 100%;/*ширина блока*/
            text-align: center;/*горизонтальное выравнивание текста по отношению к блоку*/
            padding-top: 10px; /* отступ текста от верхней границы блока*/
            z-index: 100; /*слой*/
        }

        td { /*стиль ячейки таблицы*/
            width: 45px; /*ширина ячейки*/
            height: 45px; /*высота ячейки*/
            border: solid 1px silver; /*границы стиль толщина цвет*/
            text-align: center; /*горизонтальное выравнивание текста по отношению к блоку*/
            vertical-align:center; /*верникальное выравнивание в ячейки*/
        }

        #table1 {/*стиль боковой панели*/
            float: right;/*выравнивание элемента справа*/
        }